html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: grey;
    color:black;
    padding: .5vh;
    position: fixed;
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content:space-between;
    align-content: space-between;
    gap: 5vh;
    flex-wrap: wrap;
    list-style-type: none;
}