body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
    padding-left: 5vw;
    padding-right: 5vw;
}

header {
    background-color: #013672;
    display: flex;
    padding: 5vh;
    gap: 1vh;
}

header img, footer img {
    width: 200px;
}

nav{
    display: flex;
    justify-content: end;
    width: 100vw;
    gap: 2vw;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: "PassionOne";
    src: url("assets/PassionOne-Regular.ttf") format("truetype");
}

h1,h2,h3{
    font-family: PassionOne;
}

h1{
    margin-top: 30px;
    text-align: center;
}

h2{
    margin-top: 80px;
}

.cards{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2vw;
}
.card{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 2vh;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    border-width: 1px;
    transition-property: background-color;
    transition-property: color;

    transition-duration: .05s;
    transition-delay: .1s;
}
.card img{
    width: 13vw;
}
.card:hover{
    color: white;
    background-color: #013672;
}




@media (max-width: 800px) {
    nav{
        display: none;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
}